# 1. Importing dependencies

In [1]:
import h2o
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 2. Starting H2O

H2O will automatically check if an instance is already running and connect to

In [2]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ------------------------------------------
H2O cluster uptime:         2 hours 36 mins
H2O cluster timezone:       America/Sao_Paulo
H2O data parsing timezone:  UTC
H2O cluster version:        3.26.0.3
H2O cluster version age:    21 days, 12 hours and 27 minutes
H2O cluster name:           H2O_from_python_Semantix_zpo2sn
H2O cluster total nodes:    1
H2O cluster free memory:    3.279 Gb
H2O cluster total cores:    8
H2O cluster allowed cores:  8
H2O cluster status:         locked, healthy
H2O connection url:         http://localhost:54321
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         Amazon S3, Algos, AutoML, Core V3, Core V4
Python version:             3.7.3 final
--------------------------  ------------------------------------------

# 3a. Importing synthetic dataset from local file

In [3]:
people = pd.read_csv ('C:\Intel\people.csv')

In [4]:
people

,Unnamed: 0,id,bloodType,age,healthyEating,activeLifestyle,income
0,1,1,A,31.516143,4,3,31300
1,2,2,A,55.050341,3,4,52500
2,3,3,O,37.221915,7,3,38700
3,4,4,O,59.501818,7,6,56800
4,5,5,O,62.201962,2,7,54900
5,6,6,AB,20.141155,5,9,23900
6,7,7,B,42.820958,3,6,37700
7,8,8,A,59.943695,1,3,54600
8,9,9,A,43.917446,5,7,41700
9,10,10,A,39.460893,5,7,35800
10,11,11,O,62.971167,5,5,58300
11,12,12,O,39.306705,5,2,40500
12,13,13,O,49.845820,7,7,46200
13,14,14,AB,44.913770,5,7,43400
14,15,15,B,22.837460,4,5,29400
15,16,16,A,60.291774,4,6,57800
16,17,17,A,29.566124,5,5,29400
17,18,18,A,19.976798,6,7,26100
18,19,19,O,33.412274,3,5,34800
19,20,20,O,62.861672,5,4,60100
20,21,21,O,59.808348,7,5,59100
21,22,22,AB,50.561760,5,4,49200
22,23,23,B,48.103820,4,4,45300
23,24,24,A,64.730680,4,4,60500
24,25,25,A,48.818173,7,5,46800
25,26,26,A,51.300932,6,5,46500
26,27,27,O,43.571103,7,8,39700
27,28,28,O,45.924675,5,2,45100
28,29,29,O,31.590508,6,5,33900
29,30,30,AB,24.914341,4,7,29400
...,...,...,...,...,...,...,...
970,971,971,O,54.752539,4,2,49600
971,972,972,O,20.163248,2,5,27900
972,973,973,O,56.532699,3,7,50500
973,974,974,AB,30.662197,5,5,30100
974,975,975,B,31.293969,1,2,32600
975,976,976,A,48.231413,2,6,40800
976,977,977,A,62.561585,7,6,59600
977,978,978,A,18.328927,4,5,26800
978,979,979,O,34.526031,1,5,32600
979,980,980,O,37.695149,5,8,35400
980,981,981,O,39.520209,8,8,40300
981,982,982,AB,51.449551,6,4,46800
982,983,983,B,61.232859,6,5,55300
983,984,984,A,47.474203,7,2,44600
984,985,985,A,60.402544,3,4,54700
985,986,986,A,53.594470,6,9,50700
986,987,987,O,24.479343,4,9,27500
987,988,988,O,25.202979,5,6,27100
988,989,989,O,26.991673,9,5,30600
989,990,990,AB,38.359702,7,2,36600
990,991,991,B,22.099307,7,9,29500
991,992,992,A,28.517660,3,6,27300
992,993,993,A,44.890988,3,4,40100
993,994,994,A,36.807951,9,7,37100
994,995,995,O,44.576873,3,3,40200
995,996,996,O,56.992322,5,6,54300
996,997,997,O,48.179350,7,8,46400
997,998,998,AB,36.400441,7,5,38400
998,999,999,B,51.350253,7,8,48800
999,1000,1000,A,23.114731,5,7,29700

# 3b. Importing synthetic dataset from H2O (if already there)

In [5]:
people = h2o.get_frame("people.hex")

In [6]:
people

C1,id,bloodType,age,healthyEating,activeLifestyle,income
1,1,A,31.5161,4,3,31300
2,2,A,55.0503,3,4,52500
3,3,O,37.2219,7,3,38700
4,4,O,59.5018,7,6,56800
5,5,O,62.202,2,7,54900
6,6,AB,20.1412,5,9,23900
7,7,B,42.821,3,6,37700
8,8,A,59.9437,1,3,54600
9,9,A,43.9174,5,7,41700
10,10,A,39.4609,5,7,35800

# 4. Splitting the dataset

We create three subset: train, validation and test dataset

In [28]:
train, valid, test = people.split_frame(
    ratios = [0.8, 0.1],
    destination_frames = ["people_train", "people_valid", "people_test"],
    seed = 123
    )

Let's take a look at the size of the three sets

In [8]:
print("%d/%d/%d" % (train.nrows, valid.nrows, test.nrows))

788/118/94

# 5. Retrieving H2O Frame

We can now import the three dataframes from the H2O cluster

In [9]:
train = h2o.get_frame("people_train")
valid = h2o.get_frame("people_valid")
test =  h2o.get_frame("people_test")

# 6. Running a GBM model

In [10]:
from h2o.estimators.gbm import H2OGradientBoostingEstimator

In [11]:
y = "income"
ignoreFields = [y, "id"]
x = [i for i in train.names if i not in ignoreFields]

In [12]:
m1 = H2OGradientBoostingEstimator(model_id = "defaults")
m1.train(x, y, train, 
        validation_frame = valid)

gbm Model Build progress: |███████████████████████████████████████████████| 100%

let's look at the MAE performance of our model on the three dataset

In [13]:
m1.mae(train=True)

844.115231896415

In [14]:
m1.mae(valid=True)

1412.689692125053

In [15]:
perf = m1.model_performance(test)
perf.mae

ModelMetricsRegression: gbm
** Reported on test data. **

MSE: 2381694.5886023785
RMSE: 1543.273983647226
MAE: 1328.2845678162523
RMSLE: 0.041702167209093526
Mean Residual Deviance: 2381694.5886023785

# 7. Let's overfit the data

We now bump up the number of trees and max_depth to overfit the data

In [16]:
m2 = H2OGradientBoostingEstimator(model_id = "overfit", 
                                 ntrees = 1000,
                                 max_depth = 10)
m2.train(x, y, train, 
        validation_frame = valid)

gbm Model Build progress: |███████████████████████████████████████████████| 100%

In [17]:
print("Train: %d --> %d"% (m1.mae(train=True), m2.mae(train=True)))
print("Valid: %d --> %d"% (m1.mae(valid=True), m2.mae(valid=True)))
print(" Test: %d --> %d"% (perf.mae(), m2.model_performance(test).mae()))

Train: 844 --> 22
Valid: 1412 --> 1582
 Test: 1328 --> 1490

# 8. Crossvalidation

An alternative approach to split the data (instead of train/valid/test) is to use cross-validation

In [18]:
train, test = people.split_frame(
    ratios = [0.897],
    destination_frames = ["people_train", "people_test"],
    seed = 123
    )

In [19]:
print("%d/%d" % (train.nrows, test.nrows))

900/100

In [20]:
from h2o.estimators.gbm import H2OGradientBoostingEstimator

In [21]:
y = "income"
ignoredFields = [y, "id"]
x = [i for i in train.names if i not in ignoreFields]

In [22]:
m3 = H2OGradientBoostingEstimator(model_id = "def9folds", 
                                  nfolds = 9)
m3.train(x, y, train)

gbm Model Build progress: |███████████████████████████████████████████████| 100%

In [23]:
m3.mae(train=True)

908.9596506076389

In [24]:
m3.mae(xval=True)

1328.8341969124283

In [25]:
perf = m3.model_performance(test)
perf.mae()

1284.04442177443

this done has done better than the previous model - probably because it has trained with more training data. Still have overfitting but not as much

# 9. Let's overfit the model with cross-validation

We'll increase the number of trees and max_depth

In [26]:
m4 = H2OGradientBoostingEstimator(model_id = "overfit", 
                                 ntrees = 1000,
                                 max_depth = 10,
                                 nfolds = 9)
m4.train(x, y, train, 
        validation_frame = valid)

gbm Model Build progress: |███████████████████████████████████████████████| 100%

In [27]:
print("Train: %d --> %d"% (m3.mae(train=True), m4.mae(train=True)))
print("Valid: %d --> %d"% (m3.mae(xval=True), m4.mae(xval=True)))
print(" Test: %d --> %d"% (perf.mae(), m4.model_performance(test).mae()))

Train: 908 --> 27
Valid: 1328 --> 1429
 Test: 1284 --> 1423

# 10. Conclusions

Cross-validation is a better way to build prediction at the cost of training time

We can still run into overfitting if we're not careful